body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header, img, figcaption {
  text-align: center;
}


a {
  padding: 10px;
  background: grey;
}

figcaption {
  font-size: 1em;
}

#featured-property p {
  
 
}

#details {
  display: block;
}
#details div {
  float: left;
}