body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header, img, figcaption {
  text-align: center;
}


a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

figcaption {
  font-size: 1em;
}

#featured-property p {
  text-align: center;
  width: 800px;
}

#details {
  display: block;
}
#details div {
  float: left;
  width: 25%;
  text-align: center;
  background: red;
}