body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*text-align: center;*/
}

a {
  padding: 10px;
  background: grey;
}

figcaption {
  font-size: 1em;
}

#featured-property p {
  width: 800px;
  text-align: center;
}

#details {
  display: block;
  float: left;
}