body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

img {
  image-orientation: center;
}
a {
  padding: 10px;
  background: grey;
}

figcaption {
  font-size: 1em;
}

#featured-property p {
  
 
}

#details div {
  display: block;
  float: left;
}