body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header, figcaption {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

figcaption {
  font-size: 1em;
}

#featured-property {
  text-align: center;
}
#featured-property p {
  max-width: 800px;
}

#details {
  display: block;
}
#details div {
  float: left;
  width: 25%;
  text-align: center;
  background: red;
}